<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>学生信息管理中心</title>
    <link rel="icon" type="image/png" href="/images/16.png" sizes="16x16"/>
    <link rel="icon" type="image/png" href="/images/32.png" sizes="32x32"/>
    <link rel="icon" type="image/png" href="/images/64.png" sizes="64x64"/>
</head>
<body>
<div th:fragment="css">
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/typography.css}">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" th:href="@{/css/responsive.css}">
    <link rel="shortcut icon" th:href="@{/images/favicon.ico}"/>
</div>
</body>
</html>